       <nav class="navbar myNav">
          <div class="container-fluid">
                 <div class="navbar-header">
                      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span> 
                      </button>
                 <a href="#" class="navbar-brand my_nav_brand">
                    <img src="./assets/images/^75C6B01CDC78EB9D156FCBD8ECC8F883D52B6A1E248C4BACAF^pimgpsh_fullsize_distr.png" class="img-responsive">
                 </a>
             </div>
              <div class="collapse navbar-collapse" id="myNavbar">
              <ul class="nav my_nav navbar-nav">
                  <li><a routerLink="/dashboard">dashboard</a></li>
                  <li><a href="#">support</a></li>
                  <li><a href="#">blog</a></li>
                  <li><a href="#">contact</a></li>
              </ul>
              <ul class="nav my_nav_right navbar-nav navbar-right">
                  <li><a routerLink="/user" class="right_link">Alexandru Ioan Parjoleanu</a></li>
                  <li><a href="#"><img src="./assets/images/^59692DF62269E8DAB54DA1ADE16F62E71191EED2947B6D0366^pimgpsh_fullsize_distr.png" class="img-responsive logout_img"></a></li>
              </ul>
          </div>
          </div>
      </nav>


   <br>













