
    <div class="container-fluid navigation">
      <div class="col-xs-6">
        <div class="row">
            <ul class="add_domain_nav">
                <li><i class="fa fa-arrow-left" aria-hidden="true"></i></li>
                <li><h4>&nbsp;&nbsp;&nbsp;<i class="fa fa-globe" aria-hidden="true"></i> &nbsp;ADD YOUR FIRST DOMAIN</h4></li>
            </ul>
        </div>
      </div>
    <div class="col-xs-6">
        <div class="row" style="text-align:right;">
            <ul class="add_domain_nav">
               <li><a routerLink="/dashboard">CANCEL</a></li>
                <li><h4>&nbsp;&nbsp;&nbsp; &nbsp;IP CONFIRMATION</h4></li>
                <li>&nbsp;&nbsp;<i class="fa fa-arrow-right" aria-hidden="true"></i></li>
            </ul>
        </div>
      </div>
    </div>
       
<br><br>
       
       <div class="container">
           <div class="whiteDiv add_domain">
                <div class="col-sm-6 ">
                   <div class="add_domain_left">
                         <p>You are just <strong>3 steps</strong> away from testing your domain for the latest vulnerabilities.</p>
                        <form action="#">
                            <div class="form-group">
                                <input type="text" placeholder="your domain" class="frm_cntrl form-control">
                                <p>* for example: bit-sentinel (no www's ok? thanks)</p>
                                <br>
                                <a routerLink="/confirm" class="btn btn-info btn-lg"> add domain</a>
                                <br><br>
                                <p>You have 16 domains in your subscription (<a href="#">add more</a>)</p>
                            </div>
                        </form>
                   </div>
                </div>
                <div class="col-sm-6">
                    <div class="right_img">
                        <img src="./assets/images/pc.png" alt="">
                    </div>
                </div>
           </div>
       </div>
   