body{
    background: #1E2C50;
}
.centr_div{
    width: 60%;
    margin: 0 auto;
    background: url('./app/assets/images/pc.png') no-repeat;
    background-size: 100% 100%;
    height: 600px;
    position: relative;
}
.cntr_btn_div{
   text-align: center;
   padding-top: 240px;
}
body{
    background: #1E2C50;
}
.top_left_txt{
    color: #fff;
    font-weight: bold;
    padding: 10px;   
}
.top_right_btn{
    position: relative;
}
.top_right_btn button{
    position: absolute;
    right: 10px;top: 20px;
}
.myNav{
    background:#080808;
}
.whiteDiv{
    overflow: hidden;
    background: #fff;
/*    padding: 20px;*/
    border-radius: 10px;
}
.tbl_head_th{
    background: #DEE6FC;
    border: none;
}
.tbl_head_th th:first-child{
    text-align: left;
}
.tbl_head_th th{
/*    text-align: center;*/
    padding: 20px !important;
    border: none !important;
    border-right: 1px solid #fff !important;
}
.tbl_head_th th:last-child{
    border: none !important;
}
.tbl_bdy tr td:first-child{
    text-align: left;
}
.tbl_bdy tr td{
/*    text-align: center;*/

        padding: 10px 20px !important;
}
.small_p{
    font-size: 13px;
    padding-top:5px;
    color: #01C497;
    
}
.scan_time_txt{
        color: #01C497;
    font-weight: bold;
}
.risk_txt{
    color: #F86059 !important;
}
.add_domain{
    padding: 110px 0;
}
.add_domain_left{
        width: 80%;
    margin: 0 auto;
}
.navigation{
    background: #080808;
}
.add_domain_nav{
    list-style-type: none;
    padding: 10px;
}
.add_domain_nav li{
    display: inline-block;
    color: #fff;
    padding-top: 10px;
}
.frm_cntrl{
    border-radius: 0;
    font-size: 18px;
    color:  #799AF2;
       height: 45px;
    border: 1px solid #799AF2;
}
.risk_nav_txt{
    color: #fff;
}
.right_txt{
    text-align: right;
}
.new_scan{
    padding: 20px;
    border-right: 1px solid #799AF2;
    color: #799AF2;
    
}
.new_scan h4{
    font-weight: bold;font-size: 20px;
}
.s_scan_tx{
      padding: 20px;
    text-align: right; color: #799AF2;
}
.s_scan_tx h4{
     font-weight: bold;font-size: 20px;
}

.f_white_divs{
    padding: 5px !important;
}
.f_white_div
{
    padding: 10px !important;
}
.txt_clr{
     color: #799AF2;
}
.tbl_header_div{
    border-bottom: 2px solid grey;
}
.heading-pill{
    padding: 12px;
}
.pills_wrap{
    border-bottom: 2px solid grey;
}
.left_wrap{
    padding: 40px;
}
.left_wrap_2,.right_wrap_2{
    padding: 30px;
}
.right_wrap{
     padding: 40px;
}
.back{
    color: #fff;
    position: relative;
}
.bk_arrow{
    position: absolute;
    left: -50px;
    font-size: 20px;
}
.back h4 {
    padding: 6px;
}
.tbl_div{
        border-radius: 20px;
    overflow: hidden;
    border: 1px solid #eee;
    margin-top: 25px;
}
.add_subdomain{
    padding: 90px 10px;
}
.sub_d_list{
    list-style-type: none;
}
.right_img img{
    width: 100%;
}

.navbar{
    margin-bottom: 0px !important;
}
.dashboard-box{
    background: #1e2c50;
    width: 100%;
    float: left;
    padding-top: 50px;
}
.drop-dashed .btn-primary{
    background: #1e2c50 !important;
    padding: 15px !important;
    color:#a6beff !important;
    border:#6275a8 solid 1px;
}
.right_txt p a{
    color:#a6beff;
    font-weight:bold;
}
.dash-wrapper{
    width: 100%;
    float: left;
    background: #0d1220;
}
.col-sm-3.start-dash{
    padding-left: 0px;
}
.col-sm-3.pie.last-dash{
    padding-right: 0px;
}
.txt_clr{
    font-weight: bold;
}
.dash-icon{
    float: right;
}
.dash-icon img{
    width: 16px;
}
.small-para{
    padding-top: 5px;
    color: #01C497;
}
.small-para img{
    width: 16px;
}
.risk_top{
    width: 100%;
    float: left;
    text-align: center;
    font-size: 16px;
    color: #f2c306;
    font-weight: bold
}
.risk_bottom{
    width: 100%;
    float: left;
    text-align: center;
    font-size: 12px;
    color: #01c497;
    padding-left: 3px;
 
}
.risk_top img{
    width: 16px;
}
.risk_top2{
    width: 100%;
    float: left;
    text-align: center;
    font-size: 16px;
    color: #01c497;
    font-weight: bold
}
.risk_bottom2{
    width: 100%;
    float: left;
    text-align: center;
    font-size: 12px;
    color:#f2c306; ;
    padding-left: 3px;
 
}
.risk_top2 img{
    width: 16px;
}
.rigt-edit img{
    width: 16px;

}
.rigt-edit{
    padding-right: 20px;
}
.rigt-del img{
    width: 16px;

}
.img-box{
    width: 100%;
    float: left;
    text-align: center;
}
.risk_top3{
    width: 100%;
    float: left;
    text-align: center;
    font-size: 16px;
    color: #f95b53;
    font-weight: bold
}
.risk_bottom3{
    width: 100%;
    float: left;
    text-align: center;
    font-size: 12px;
    color:#f2c306; ;
    padding-left: 3px;
 
}
.risk_top3 img{
    width: 16px;
}
.modal-wrap{
    width: 100%;
    float: left;
    padding-top: 20px;
    border-top:solid 1px #a6beff;
}
.top-d{
    color:#F86059;
}
#menu1{
    width: 100%;
    float: left;
    text-align: left;
    border:solid 1px #a6beff !important;
}
#drop-style{
    position:initial !important;
     width: 100%;
    float: left;
}
#drop-style li a{
    padding: 10px 16px;
    border-bottom: 1px solid #ccc;
    width: 100%;
    float: left;

}
.name-b-2{
    width: 100%;
    padding: 17px 8px;
    border: solid 1px #a6beff;
    border-radius:5px;
}
.btn-scan{
    padding: 17px 20px;
    background: #799af2;
    color: #fff;
    font-size: 15px;
    margin-bottom:20px;
    border: 0px;
    border-radius: 5px;

}
.btn-scan img{
    width: 18px;
}
.margin-b{
    margin-top: 20px;
    width: 100%;
    float: left;
}
#drop-top-btn{
    left:-250px !important;
    margin-top: -10px !important;
    min-width:300px !important;
    
}

.drop-dashed .dropdown.open .dropdown-toggle{
    position: absolute;
    z-index: 10000;
    background: transparent !important;
    border: solid 1px #799af2 !important;
}
#drop-top-btn .active-2{
    padding: 5px 0px;
    border-bottom:solid 1px #a6beff;
    
}
.report_bg_adj{
  background: #1E2C50;

    padding: 20px;
}
.border_adj{
  background: white;
  border-radius: 5px;
  padding: 20px 15px;
  width: 100%;
}
.chart_border_adj{
  border-radius: 5px;
  background: white;
   height: 188px;
    overflow: hidden;

}
.report_text_size{
  font-size: 12px
}
.report_h5_adj{
  color: #799AF2;
}
.report_opt_adj{
  font-size: 10px;
}
.icon_color_adj{
  padding-right:5px;
  color:#799AF2;
}
.line-chart {
  width:100%;
  height:100px;
}
.report_risk_adj{
  font-size: 10px;
  margin-top: -4px;
  color:#FF887C;
}
.report_week_adj{
  font-size: 10px;
  color:#FF887C;
}
.report_new_adj{
  color: #99789E;
  font-size: 10px;
}
.report_were_adj{
  color: #99789E;
  font-size: 10px;
    margin-top: -4px;
}
/* line 20, ../sass/pizza.scss */
[data-pie-id] li:nth-child(0) {
  color: blue;
}

/* line 20, ../sass/pizza.scss */
[data-pie-id] li:nth-child(1) {
  color: #4d00ff;
}

/* line 20, ../sass/pizza.scss */
[data-pie-id] li:nth-child(2) {
  color: #9900ff;
}

/* line 20, ../sass/pizza.scss */
[data-pie-id] li:nth-child(3) {
  color: #e500ff;
}

/* line 20, ../sass/pizza.scss */
[data-pie-id] li:nth-child(4) {
  color: #ff00cc;
}

/* line 20, ../sass/pizza.scss */
[data-pie-id] li:nth-child(5) {
  color: #ff0080;
}

/* line 20, ../sass/pizza.scss */
[data-pie-id] li:nth-child(6) {
  color: #ff0033;
}

/* line 26, ../sass/pizza.scss */
ul[data-pie-id] {
  list-style: none;
  padding: 10px;
}


[data-pie-id='my-cool-chart'] li:nth-child(0) {
  color: #d84200;
}

/* line 20, ../sass/pizza.scss */
[data-pie-id='my-cool-chart'] li:nth-child(1) {
  color: #fc4d00;
}

/* line 20, ../sass/pizza.scss */
[data-pie-id='my-cool-chart'] li:nth-child(2) {
  color: #ff6420;
}

/* line 20, ../sass/pizza.scss */
[data-pie-id='my-cool-chart'] li:nth-child(3) {
  color: #ff7d44;
}

/* line 20, ../sass/pizza.scss */
[data-pie-id='my-cool-chart'] li:nth-child(4) {
  color: #ff9668;
}

/* line 20, ../sass/pizza.scss */
[data-pie-id='my-cool-chart'] li:nth-child(5) {
  color: #ffaf8b;
}

/* line 20, ../sass/pizza.scss */
[data-pie-id='my-cool-chart'] li:nth-child(6) {
  color: #ffc8af;
}