 <div class="container-fluid navigation">
      <div class="col-xs-6">
        <div class="row">
            <ul class="add_domain_nav">
                <li><i class="fa fa-arrow-left" aria-hidden="true"></i></li>
                <li><h4>&nbsp;&nbsp;&nbsp;<i class="fa fa-check" aria-hidden="true"></i> &nbsp;VERIFY YOUR DOMAIN OWNERSHIP</h4></li>
            </ul>
        </div>
      </div>
    <div class="col-xs-6">
        <div class="row" style="text-align:right;">
            <ul class="add_domain_nav">
               <li><a routerLink="/dashboard" style="color:#F95B53;">CANCEL</a></li>
                <li><h4>&nbsp;&nbsp;&nbsp; &nbsp;MANAGE DOMAIN</h4></li>
                <li>&nbsp;&nbsp;<i class="fa fa-arrow-right" aria-hidden="true"></i></li>
            </ul>
        </div>
      </div>
    </div>
   <br>

       
   
       <div class="container">
          <br><br><br>
           <div class="whiteDiv">
             <div class="row pills_wrap">
                 <div class="col-xs-8">
                        <div class="col-xs-4 tab_link_wrap">
                            <div class="heading-pill">
                                <a class="tab_link" data-toggle="pill" href="#menu1"><p class="vutxt">VERIFY USING</p>
                                <h4><i class="fa fa-file-text-o" aria-hidden="true"></i> TXT File</h4></a>
                            </div>
                        </div>
                        <div class="col-xs-4 tab_link_wrap">
                           <div class="heading-pill">
                            <a  class="tab_link" data-toggle="pill" href="#menu2"><p class="vutxt">VERIFY USING</p>
                            <h4 class=""><i class="fa fa-file-text-o" aria-hidden="true"></i> HTML META KEY</h4></a>
                            </div>
                        </div>
                         <div class="col-xs-4 tab_link_wrap">
                           <div class="heading-pill">
                            <a  class="tab_link" data-toggle="pill" href="#menu3"><p class="vutxt">VERIFY USING</p>
                            <h4><i class="fa fa-file-text-o" aria-hidden="true"></i> SUBSCRIPTION</h4></a>
                             
                            </div>
                        </div>
                 </div>
                 <div class="col-xs-4">
                   <div class="heading-pill">
                   <a routerLink="/dashboard/scan"><button class="btn btn-primary custm_btn navbar-btn btn-lg pull-right">verify domain</button></a>
                  </div>
                 </div>
             </div>
             <div class="row">
                <div class="tab-content">
                  <div id="menu2" class="tab-pane fade in active">
             <div class="col-xs-6">
                     <div class="row">
                         <div class="left_wrap">
                         <span class="threeLable">3</span>
                         <p>
                             You need verify website ownership using one of the following methods so we know 
                             for sure that you are not trying to hack someone else.
                         </p>
                     </div>
                     <br>
                     <div class="row">
                         <p style="padding: 30px 110px;
    font-size: 36px;color:#e2e2e2;"> - </p>
                     </div>
                     <br>
                      <div class="row">
                         <div class="left_wrap"> <span class="threeLable" style="padding: 0 15px;"><i class="fa fa-file-text-o" aria-hidden="true"></i></span>
                             <p style="opacity:0.5;padding-left: 65px;">After follwing the instructions in one of the 3 steps listen on top of the page click the <span><a href="#">VERIFY DOMAIN</a></span> button in the top right corner to check</p>
                         </div>
                     </div>
                     
                     </div>
                 </div>
                 <div class="col-xs-6">
                     <div class="right_wrap">
                         <p>Copy the code below, paste it onto the root page (<a href="#">anodpixels.com</a>) immediately before the closing tag</p>
                         <p><strong>The Meta Key:</strong></p>

                         <textarea class="form-control meta_txte" rows="3"><meta name="fendly-validation" content="11e1732999a5dvss71deee29cb45a0b31b2509fv"/></textarea>
                         <br><br><br>
                         <p><strong>Example</strong></p>
                          <textarea class="form-control meta_txte" rows="6" style="overflow:hidden;"><!DOCTYPE html>
                            <html lang="en">
                              <head>
                                <meta charset="utf-8">
                                <meta http-equiv="X-UA-Compatible" content="IE=edge">
                                  <meta name="viewport" content="width=device-width, initial-scale=1"></head></html></textarea>
                     </div>
                 </div>
                  </div>
                  
                  
                  
                  
                  
                  <div id="menu1" class="tab-pane fade">
                  <div class="col-xs-6">
                     <div class="row">
                         <div class="left_wrap">
                         <span class="threeLable">3</span>
                         <p>
                             You need verify website ownership using one of the following methods so we know 
                             for sure that you are not trying to hack someone else.
                         </p>
                     </div>
                     <br>
                     <div class="row">
                         <p style="padding: 30px 110px;
    font-size: 36px;color:#e2e2e2;"> - </p>
                     </div>
                     <br>
                      <div class="row">
                         <div class="left_wrap"> <span class="threeLable" style="padding: 0 15px;"><i class="fa fa-file-text-o" aria-hidden="true"></i></span>
                             <p style="opacity:0.5;padding-left: 65px;">After follwing the instructions in one of the 3 steps listen on top of the page click the <span><a href="#">VERIFY DOMAIN</a></span> button in the top right corner to check</p>
                         </div>
                     </div>
                     
                     </div>
                 </div>
                     <div class="col-xs-6">
                     <div class="right_wrap">
                         <div class="row">
                             <div class="btn_lg_Div">
                             <button class="btn btn_lg_custom btn-lg"><i class="fa fa-download" aria-hidden="true"></i> DOWNLOAD THE VERIFICATION FILE</button>
                         </div>

                         <p style="padding: 10px 0;font-size: 17px;">and place it in the root of your website to be accessible at:
                         <br><a href="#">anodpixels.com/fendly.txt</a></p>
                         
                         </div>
                         <div class="row">
                             <p style="padding:60px 0;color:#E2E2E2;font-weight:bold;font-size:17px;">OR YOU CAN</p>
                         </div>
                         <div class="row">
                                <p style="font-size:17px;">create & upload a file called <a href="#">fendly.txt</a> with the following content:</p>
                                
                                <div class="form-group" style="position:relative;">
                                   <span style="    position: absolute;
    right: 15px;
    top: 20px;
    color: #799AF2;
    font-weight: bold;">COPY</span>
                                    <input type="text" class="form-control frm-cntrl" value="11e1732999a5dcbdee29cb45a0b31b2f09fc0">
                                </div>
                         </div>
                      
                     </div>
                 </div>
                 
                 
  </div>
                
                
                
                
                
                
                
                
                
                
                <div id="menu3" class="tab-pane fade">
                <div class="col-xs-5">
                     <div class="row">
                         <div class="left_wrap">
                         <span class="threeLable">3</span>
                         <p>
                             You need verify website ownership using one of the following methods so we know 
                             for sure that you are not trying to hack someone else.
                         </p>
                     </div>
                     <br>
                  <div class="row">
                         <p style="padding: 0px 110px;
    font-size: 36px;color:#e2e2e2;"> - </p>
                     </div>
                     <br>
                      <div class="row">
                         <div class="left_wrap"> <span class="threeLable" style="padding: 0 15px;"><i class="fa fa-file-text-o" aria-hidden="true"></i></span>
                             <p style="opacity:0.5;padding-left: 65px;">After follwing the instructions in one of the 3 steps listen on top of the page click the <span><a href="#">VERIFY DOMAIN</a></span> button in the top right corner to check</p>
                         </div>
                     </div>
                     
                     </div>
                 </div>
                     <div class="col-xs-7">
                     <div class="right_wrap">
                         <div class="row">
                           <p style="font-size:17px;padding-bottom:15px;">Copy the text below and insert as a TXT record in your DNS. Although changes usually take effect in a few mnutes, you shoukd note that sometimes it may take up to 48 hours for the changes to take effect.</p>
                         </div>
                         <div class="row">
                               
                                
                                <div class="form-group" style="position:relative;">
                                             <span style="    position: absolute;
    right: 15px;
    top: 20px;
    color: #799AF2;
    font-weight: bold;">COPY</span>
                                    <input type="text" class="form-control frm-cntrl" value="fendly-validation=11e1732999a5dcbdee29cb45a0b31b2f09fc0">
                                </div>
                         </div>
                      
                     </div>
                 </div>
  </div>
                 </div>
             </div>
           </div>
       </div>
   
   
   <br><br>
   