body{
    background: #1E2C50;
}
.centr_div{
    width: 60%;
    margin: 0 auto;
    background: url('./app/assets/images/pc.png') no-repeat;
    background-size: 100% 100%;
    height: 600px;
    position: relative;
}
.cntr_btn_div{
   text-align: center;
   padding-top: 240px;
}
body{
    background: #1E2C50;
}
.top_left_txt{
    color: #fff;
    font-weight: bold;
    padding: 10px;   
}
.top_right_btn{
    position: relative;
}
.top_right_btn button{
    position: absolute;
    right: 10px;top: 20px;
}
.myNav{
    background:#080808;
}
.whiteDiv{
    overflow: hidden;
    background: #fff;
/*    padding: 20px;*/
    border-radius: 10px;
}
.tbl_head_th{
    background: #DEE6FC;
    border: none;
}
.tbl_head_th th:first-child{
    text-align: left;
}
.tbl_head_th th{
/*    text-align: center;*/
    padding: 20px !important;
    border: none !important;
    border-right: 1px solid #fff !important;
}
.tbl_head_th th:last-child{
    border: none !important;
}
.tbl_bdy tr td:first-child{
    text-align: left;
}
.tbl_bdy tr td{
/*    text-align: center;*/

        padding: 10px 20px !important;
}
.small_p{
    font-size: 13px;
    padding-top:5px;
    color: #01C497;
    
}
.scan_time_txt{
        color: #01C497;
    font-weight: bold;
}
.risk_txt{
    color: #F86059 !important;
}
.add_domain{
    padding: 110px 0;
}
.add_domain_left{
        width: 80%;
    margin: 0 auto;
}
.navigation{
    background: #080808;
}
.add_domain_nav{
    list-style-type: none;
    padding: 10px;
}
.add_domain_nav li{
    display: inline-block;
    color: #fff;
    padding-top: 10px;
}
.frm_cntrl{
    border-radius: 0;
    font-size: 18px;
    color:  #799AF2;
       height: 45px;
    border: 1px solid #799AF2;
}
.risk_nav_txt{
    color: #fff;
}
.right_txt{
    text-align: right;
}
.new_scan{
    padding: 20px;
    border-right: 1px solid #799AF2;
    color: #799AF2;
    
}
.new_scan h4{
    font-weight: bold;font-size: 20px;
}
.s_scan_tx{
      padding: 20px;
    text-align: right; color: #799AF2;
}
.s_scan_tx h4{
     font-weight: bold;font-size: 20px;
}

.f_white_divs{
    padding: 5px !important;
}
.f_white_div
{
    padding: 10px !important;
}
.txt_clr{
     color: #799AF2;
}
.tbl_header_div{
    border-bottom: 2px solid grey;
}
.heading-pill{
    padding: 12px;
}
.pills_wrap{
    border-bottom: 2px solid grey;
}
.left_wrap{
    padding: 40px;
}
.left_wrap_2,.right_wrap_2{
    padding: 30px;
}
.right_wrap{
     padding: 40px;
}
.back{
    color: #fff;
    position: relative;
}
.bk_arrow{
    position: absolute;
    left: -50px;
    font-size: 20px;
}
.back h4 {
    padding: 6px;
}
.tbl_div{
        border-radius: 20px;
    overflow: hidden;
    border: 1px solid #eee;
    margin-top: 25px;
}
.add_subdomain{
    padding: 90px 10px;
}
.sub_d_list{
    list-style-type: none;
}
.right_img img{
    width: 100%;
}

/*******************************************************profile ***********************************************************/

.profile_imgs_adj{
        padding: 4px;
    width: 27px;
    /* top: 8px; */
    margin-top: 5px;
}
.profile_right_div_adj{

    padding: 42px 20px;
}
.profile_input_adj{
    border-radius: 0px;
    border:1px solid #A7BCF6;
    font-size: 12px;
}
.profile_input_ow_adj{
    border-radius: 0px;
    border:1px solid #D8D8D8;
    font-size: 12px;
}
.profile_link_adj{
        font-size: 10px;
    color: red;
}
.profile_save_btn{

    border-radius: 0px
}
.profile_logs_adj{
    width: 16px;
}


/*******************************************************start second***********************************************************/
     .layout { padding: 50px; font-family: Georgia, serif; }
     .layout-slider { margin-bottom: 20px; width: 90% !important; margin-top: 20PX; }
     .layout-slider-settings { font-size: 12px; padding-bottom: 10px; }
     .layout-slider-settings pre { font-family: Courier; }
     .layout-slider{
         width: 100%;
         float: left;
     }
     .m-heading{
        font-size: 45px;
        font-weight: bold;
        color: #e2e2e2;
        width: 6%;
        float: left;
     }
     .m-text{
        font-size: 20px;
        color: #4d4d4d;
        width: 90%;
        float: left;
        padding: 10px 0px;
     }
     .measure-text{
         width: 100%;
         float: left;
         margin-top: 30px;
     }
     .input-reduce{
         width: 90%;
         float: left;
     }
.dist-input{
    width: 100%;
    float: left;
    border: 1px solid #799af2;
    padding: 10px 15px
}
.btn-discount input{
    background: transparent;
    border: none;
    padding: 10px 0px;
    position:absolute;
    font-size: 20px;
    font-weight: bold;
    margin-left: -75px;
    color:#799af2;
}
.icon-m{
    width: 8%;
    float: left;
    margin-top: 20px;
}
.card-box{
    width: 100%;
    float: left;
    margin-bottom: 30px;
}
.card-left{
    width: 10%;
    float: left;
}
.card-bottom{
    width: 80%;
    float: left;
}
.card-right{
    width: 10%;
    float: left;
}
.card-bottom select{
    width: 94%;
    font-size: 28px;
    color:#4d4d4d;
    padding: 4px 0px;
}
.card-box ul li{
    float: left;
    text-decoration: none;
    padding: 0px 5px;
    width: 18%;
    margin-right: 5px;
    list-style: none;
}
.card-box ul img{
    width: 100%;
}
.right-side-box{
    width: 50%;
    float: right;
    margin-top: 60px;
}
.right-side-box img{
    width: 80%;
    float: right
}
.box-second{
    width: 100%;
    float: left;
}
.detailed-box{
    width: 100%;
    float: left;
    border: solid 1px #e2e2e2;
    border-radius: 5px;
    margin: 20px 0px;
}
.drv_tabs_pad_adj1{
   
    margin-bottom: -10px;
    font-size: 11px;
    color: black;
    text-decoration:none; 
}
#detailed h4{
    padding-left: 20px;
}
.del-card{
    width: 80%;
    margin: 0px auto;
}
.left-del{
    width: 5%;
    float: left;
}
.bottom-del{
    width: 80%;
    float: left;
    margin: 0px 20px;
}
.bottom-box{
    width: 100%;
    float: left;
}
.portion-card{
    float: left;
    width: 25%;
    list-style: none;
    padding: 0px 8px;
    border-bottom: solid 1px #a6beff;
    height: 30px;
}
.bottom-box-2{
    width: 100%;
    float: left;
}
.portion-card input{
    width: 100%; 
    padding:15px 5px;
    border: solid 1px #799af2;
}
.left-padd{
    padding-left: 0px !important
}
.left-padd-2{
    padding-right: 0px !important
}
.input-card{
    width: 100%;
    float: left;

}
.input-card input{
    width: 100%; 
    padding:15px 10px;
    border: solid 1px #799af2;
}
.exp-date-box{
    width: 100%;
    float: left;
    margin-top: 20px;
}
.exp-date-box-2{
    width: 66%;
    float: left;
    border-bottom: solid 1px #a6beff;
    height: 65px;
}
.year-box{
    width: 60%;
    float: left;
}
.exp-date-box select{
    width:100%;
    padding: 10px 0px;
    font-size: 18px;
    border: solid 1px #799af2;
    border-radius: 5px;
}
.month-box{
    width: 35%;
    float: right;
}
.exp-date-box-3{
    width: 28%;
    float: right;

}
.input-ccv{
    width: 100%;
    float: left
}
.input-ccv input{
    width: 100%;
     padding:10.5px 10px;
    border: solid 1px #799af2;
    border-radius: 5px;
}
.button-crad-box{
    width: 100%;
    float: left;
    padding: 45px 0px;
}
.left-card-btn{
    width: 100%;
    float: left;
    color: #48d4b4;
}
.box-h{
    border-bottom: solid 1px #95989a;
    margin-bottom: 30px;
}
#billing{
    width: 100%;
    float: left
}

.info-wrap {
    width: 90%;
    margin: 0px auto
}

.info-box {
    width: 68%;
    float: left;
    border-bottom: solid 1px #a6beff;
    height: 60px;
}
.info-section {
    width: 50%;
    float: left;
    padding: 0px 10px;
}
.info-section input {
    width: 100%;
    padding: 10px 5px;
    border: solid 1px #799af2;
}
.info-right {
    width: 28%;
    float: right;
}

.info-right input {
    width: 100%;
    padding: 10px 5px;
    border: solid 1px #799af2;
}

.info-wrap.second-mar {
    margin-top: 75px;
}

.info-box-2 {
    width: 100%;
    float: left;
    border-bottom: solid 1px #799af2;
    height: 60px;
}

.info-section-left.left-padd {
    width: 40%;
    float: left;
}

.info-section-left.left-padd input {
    width: 100%;
    padding: 10px 5px;
    border: solid 1px #799af2;
}

.info-section-right.left-padd-2 {
    width: 57%;
    float: right;
}

.info-section-right.left-padd-2 input {
    width: 100%;
    padding: 10px 5px;
    border: solid 1px #799af2;
}
.info-section-1 {
    width: 33%;
    float: left;
    padding:  0px 10px;
}

.second-mar-wrap {
    width: 100%;
    float: left;
    margin-top: 40px;
}

.info-section-1 input {
    width: 100%;
    padding: 10px 5px;
    border: solid 1px #799af2;
}
.info-box-3{
    width: 100%;
    float: left;
}
.info-section-right.left-padd {
    width: 70%;
    float: left;
}

.info-section-right.left-padd input {
    width: 100%;
    padding: 10px 5px;
    border: solid 1px #799af2;
}

.info-section-left.left-padd-2 {
    width: 25%;
    float: right;
}

.info-section-left.left-padd-2 button {
    width: 92%;
    margin-top: 40px;
    padding: 11px 0px;
}
p.par-last {
    width: 100%;
    float: left;
    margin: 10px 0px 43px 0px;
}