<app-header></app-header>
   <br>
       <div class="container">
           <div class="row">
               <div class="col-xs-6">
                   <div class="top_left_txt">
                       <h3><i class="fa fa-globe" aria-hidden="true"></i> &nbsp;YOUR DOMAIN SUMMARY</h3>
                   </div>
               </div>
               <div class="col-xs-6">
                    <div class="top_right_btn">
                      <a routerLink="/dashboard/domain"> <button class="btn custm_btn pull-right btn-lg"><i class="fa fa-plus" aria-hidden="true"></i> add new domain</button></a>
                   </div>
               </div>
           </div>
       </div>
       
       <br>
       
       <div class="container">
           <div class="whiteDiv">
              <table class="table domain_summary_tbl table-hover">
                <thead>
                  <tr class="tbl_head_th">
                    <th>DOMAIN & STATUS <span><img src="./assets/images/ac-set.png" class="pull-right img-responsive icon_img"></span></th>
                    <th>TOTAL SCANS <span><img src="./assets/images/set.png" class="pull-right img-responsive icon_img"></span></th>
                    <th>RISK SCORE <span><img src="./assets/images/set.png" class="pull-right img-responsive icon_img"></span></th>
                    <th>VALNERABILITTIES <span><img src="./assets/images/set.png" class="pull-right img-responsive icon_img"></span></th>
                    <th>NEXT SCANS <span><img src="./assets/images/set.png" class="pull-right img-responsive icon_img"></span></th>
                    <th>ACTIONS</th>
                  </tr>
                </thead>
                <tbody class="tbl_bdy">
                    
                    
                  <tr style="background:#F2FCFA;">
                    <td>scanme-wavesep.ccsir.org<p class="small_p"><i class="fa fa-check" aria-hidden="true"></i> owenership verified</p></td>
                    <td><span class="scan_time_txt">82 new scans</span><p class="sub_txt">106 total</p></td>
                    <td>
                      <span class="risk_txt"><span><img src="./assets/images/top.png"  class="pull-left img-responsive icon_img"></span>   &nbsp;&nbsp;<strong> now 84%</strong></span><p  class="text-center was_txt">was 57%</p></td>
                      <td><span class="risk_txt"><span><img src="./assets/images/top.png"  class="pull-left img-responsive icon_img"></span>   &nbsp;&nbsp; <strong>are 36 items</strong></span><p  class="text-center were_txt">were 0 items</p></td>
                    <td style="padding-top:20px !important;">11 hours from now</td>
                    <td class="text-center" ><a href="#"><img style="margin-right:15px;" src="./assets/images/pencil.png" class="icon_img"></a> <a href="#"><img class=" icon_img" style="margin-left:15px;" src="./assets/images/del.png"></a></td>
                  </tr>
                    
                    
                      <tr style="background:#F2FCFA;">
                    <td>scanme-wavesep.ccsir.org<p class="small_p"><i class="fa fa-check" aria-hidden="true"></i> owenership verified</p></td>
                    <td><span class="scan_time_txt">2 new scans</span><p class="sub_txt">798 total</p></td>
                    <td>
                      <span class="scan_time_txt"><span><img src="./assets/images/bottom.png"  class="pull-left img-responsive icon_img"></span>   &nbsp;&nbsp;<strong> now 84%</strong></span><p  class="text-center was_txt">was 22%</p></td>
                      <td><span class="yellow_txt"><span><img src="./assets/images/top.png"  class="pull-left img-responsive icon_img"></span>   &nbsp;&nbsp; <strong>are 3 items</strong></span><p  class="text-center were_txt">were 0 items</p></td>
                    <td style="padding-top:20px !important;">11 hours from now</td>
                    <td class="text-center" ><a href="#"><img style="margin-right:15px;" src="./assets/images/pencil.png" class="icon_img"></a> <a href="#"><img class=" icon_img" style="margin-left:15px;" src="./assets/images/del.png"></a></td>
                  </tr>
                    
                      <tr style="background:#F2FCFA;">
                    <td>scanme-wavesep.ccsir.org<p class="small_p"><i class="fa fa-check" aria-hidden="true"></i> owenership verified</p></td>
                    <td><span class="scan_time_txt">82 new scans</span><p class="sub_txt">106 total</p></td>
                    <td>
                      <span class="risk_txt"><span><img src="./assets/images/top.png"  class="pull-left img-responsive icon_img"></span>   &nbsp;&nbsp;<strong> now 84%</strong></span><p  class="text-center was_txt">was 57%</p></td>
                      <td><span class="risk_txt"><span><img src="./assets/images/top.png"  class="pull-left img-responsive icon_img"></span>   &nbsp;&nbsp; <strong>are 36 items</strong></span><p  class="text-center were_txt">were 0 items</p></td>
                    <td style="padding-top:20px !important;">11 hours from now</td>
                    <td class="text-center" ><a href="#"><img style="margin-right:15px;" src="./assets/images/pencil.png" class="icon_img"></a> <a href="#"><img class=" icon_img" style="margin-left:15px;" src="./assets/images/del.png"></a></td>
                  </tr>
                    
                      <tr style="background:#F2FCFA;">
                    <td>scanme-wavesep.ccsir.org<p class="small_p"><i class="fa fa-check" aria-hidden="true"></i> owenership verified</p></td>
                    <td><span class="scan_time_txt">82 new scans</span><p class="sub_txt">106 total</p></td>
                    <td>
                      <span class="risk_txt"><span><img src="./assets/images/top.png"  class="pull-left img-responsive icon_img"></span>   &nbsp;&nbsp;<strong> now 84%</strong></span><p  class="text-center was_txt">was 57%</p></td>
                      <td><span class="risk_txt"><span><img src="./assets/images/top.png"  class="pull-left img-responsive icon_img"></span>   &nbsp;&nbsp; <strong>are 36 items</strong></span><p  class="text-center were_txt">were 0 items</p></td>
                    <td style="padding-top:20px !important;">11 hours from now</td>
                    <td class="text-center" ><a href="#"><img style="margin-right:15px;" src="./assets/images/pencil.png" class="icon_img"></a> <a href="#"><img class=" icon_img" style="margin-left:15px;" src="./assets/images/del.png"></a></td>
                  </tr>
                    
                      <tr style="background:#F2FCFA;">
                    <td><a routerLink="/dashboard/scan">  scanme-wavesep.cr.org <p class="small_p"><i class="fa fa-check" aria-hidden="true"></i> owenership verified</p></a></td>
                    <td><span class="scan_time_txt">82 new scans</span><p class="sub_txt">106 total</p></td>
                    <td>
                      <span class="risk_txt"><span><img src="./assets/images/top.png"  class="pull-left img-responsive icon_img"></span>   &nbsp;&nbsp;<strong> now 84%</strong></span><p  class="text-center was_txt">was 57%</p></td>
                      <td><span class="risk_txt"><span><img src="./assets/images/top.png"  class="pull-left img-responsive icon_img"></span>   &nbsp;&nbsp; <strong>are 36 items</strong></span><p  class="text-center were_txt">were 0 items</p></td>
                    <td style="padding-top:20px !important;">11 hours from now</td>
                    <td class="text-center" ><a href="#"><img style="margin-right:15px;" src="./assets/images/pencil.png" class="icon_img"></a> <a href="#"><img class=" icon_img" style="margin-left:15px;" src="./assets/images/del.png"></a></td>
                  </tr>
                    
                   <tr style="border-bottom:1px solid #eee;">
                       <td>
                          <a routerLink="/dashboard/verifydomain"> <p>mindlessthoughts.info</p>
                           <p class="yellow_txt"><i class="fa fa-check" aria-hidden="true"></i>  Ownership not verified</p></a>
                       </td>
                       <td colspan="3">
                           <p>Verify ownership using one of the following:</p>
                           <p class="bold_txt three_txt">TXT File / HTML Meta Key / DNS Record</p>
                       </td>
                       <td colspan="2">
                           <h5 class="vrfytxt">VERIFY WEBSITE OWNERSHIP</h5>
                       </td>
                   </tr>
                  
                   
                
                
                </tbody>
              </table>
               
               <div class="tbl_footet">
                   <div class="col-xs-6">
                    <span style="color:#799AF2;padding:0 10px;cursor:pointer;position:relative;bottom:8px;"><i class="fa fa-plus" aria-hidden="true"></i> <strong>6 MORE DOMAINS <br></strong></span>
                   </div>
               </div>
           </div>
       </div>
