
<div class="container-fluid navigation">
      <div class="col-xs-6">
        <div class="row">
            <ul class="add_domain_nav">
                <li><i class="fa fa-arrow-left" aria-hidden="true"></i></li>
                <li><h4>&nbsp;&nbsp;&nbsp;<i class="fa fa-globe" aria-hidden="true"></i> &nbsp;ADD SUBDOMAINS </h4></li>
                <li><span style="color:#799AF2;font-size:12px"> to SCANME-WAVESEP.CCSIR.ORG</span></li>
            </ul>
        </div>
      </div>
    <div class="col-xs-6">
        <div class="row" style="text-align:right;">
            <ul class="add_domain_nav">
               <li><a href="#" style="color:red;">CANCEL</a></li>
            </ul>
        </div>
      </div>
    </div>
       
<br><br>
       
       <div class="container">
           <div class="whiteDiv add_subdomain">
                <div class="col-sm-6 ">
                   <div class="add_domain_left">
                         <p>You can add <span style="color:#799AF2;">multiple subdomains at once </span>just by typing in and separating them with a comma or pressing return.</p>
                        <form action="#">
                            <div class="form-group">
                                <input style="height:55px;" type="text" placeholder="subdomain.scanme-wavsep.ccir.org" class="frm_cntrl form-control">
                            </div>
                        
   <br><br><br>
                        <div class="form_footer">
                            <div class="col-xs-6" style="padding:0;">
                                <button class="btn custm_btn btn-lg">add domain</button>
                            </div>
                        </div>
                        </form>
                   </div>
                </div>
                <div class="col-sm-6 ">
                    <img src="./assets/images/pc.png" class="img-responsive" alt="">
                </div>
           </div>
       </div>
