<div class="container-fluid navigation">
      <div class="col-xs-6">
        <div class="row">
            <ul class="add_domain_nav">
                <li><i class="fa fa-arrow-left" aria-hidden="true"></i></li>
                <li><h4>&nbsp;&nbsp;&nbsp;<i class="fa fa-check" aria-hidden="true"></i> &nbsp;VERIFY YOUR DOMAIN OWNERSHIP</h4></li>
            </ul>
        </div>
      </div>
    <div class="col-xs-6">
        <div class="row" style="text-align:right;">
            <ul class="add_domain_nav">
               <li style="color:red;"><a routerLink="/dashboard">CANCEL</a></li>
                <li><h4>&nbsp;&nbsp;&nbsp; &nbsp;MANAGE DOMAIN</h4></li>
                <li>&nbsp;&nbsp;<i class="fa fa-arrow-right" aria-hidden="true"></i></li>
            </ul>
        </div>
      </div>
    </div>
   <br>

       

       
           <div class="container-fluid">
           <div class="row">
           		<div class="col-xs-1">
           			<div class="drv_icon_adj">
           			<i class="fa fa-arrow-left" aria-hidden="true"></i>
           			</div>
           		</div>
               <div class="col-xs-5">
                   <div class="top_left_txt">
                       <h3>scanme-wavsep.ccsir.org</h3>
                       <p style="margin-top: -13px">report Details</p>
                   </div>
               </div>
               <div class="col-xs-6">
                    <div class="right_txt drv_right_txt" style="color:#fff;">
                        <p>Full Valunerablity Assessment Scanner</p>
                        <p style="color:grey;margin-top: -10px">Made on 2016-07-27 at 09:27:21</p>
                    </div>
               </div>
           </div>
       </div>
       
       <br><br>
       
       <div class="container">
           <div class="whiteDiv">
             <div class="row pills_wrap">
                 <div class="col-xs-8">
                        <div class="col-xs-4">
                            <div class="heading-pill">
                                <a data-toggle="tab" class="drv_link_dec_adj" href="#txt-file"><p class="drv_tabs_pad_adj" style="">EXECUTE</p>
                                <h4><span><img class="drv_tabs_ic_adj" src="./assets/images/1.png"></span> SUMMARY</h4></a>
                            </div>
                        </div>
                        <div class="col-xs-4">
                           <div class="heading-pill">
                            <a data-toggle="tab" class="drv_link_dec_adj" href="#home"><p  class="drv_tabs_pad_adj">LIST OF</p>
                            <h4 class="txt_clr"><span><img class="drv_tabs_ic_adj" src="./assets/images/2.png"></span>DISCOVERIES</h4></a>
                            </div>
                        </div>
                         <div class="col-xs-4">
                           <div class="heading-pill">
                            <a data-toggle="tab" class="drv_link_dec_adj" href="#home"> <p class="drv_tabs_pad_adj">EXPERT OF</p>
                            <h4 class="drv_tabs_pdfic_adj">PDF<span><img class="drv_adobe_adj" src="./assets/images/4.png"></span></h4></a>
                            </div>
                        </div>
                 </div>
                 <div class="col-xs-4">
                      <div class="col-xs-offset-6 col-xs-6">
                           <div class="heading-pill">
                           <a data-toggle="tab" href="#home"><p  class="drv_tabs_pad_adj">Need Some</p>
                            <h5 class="txt_clr drv_font_ad"><span><img class="drv_adobe_adj" src="./assets/images/6.png"> </span>ASSISTANCE</h5></a>
                          </div>
                        </div>
                 </div>
             </div>
             <div class="row">
             <div class="tab-content">
             	 <div id="txt-file" class="tab-pane fade in  ">
             	 	<div class="col-xs-12">
             	 		<div class="row">
             	 			<div class="col-xs-6 drv_right_column_adj">
             	 				<p>Vulnerabilities Found</p>
             	 				<button class="drv_btn_red_adj drv_marg_adj">CRITICAL<span class="drv_btn_marg_text_adj">465 </span></button>
             	 				<button class="drv_btn_yellow_adj drv_marg_adj">MEDIUM<span class="drv_btn_marg_text_adj">83 </span></button>
             	 				<button class="drv_btn_blue_adj drv_marg_adj">LOW<span class="drv_btn_marg_text_adj">873 </span></button>
		           	 			<button class="drv_btn_dblue_adj">INFORMATION<span class="drv_btn_marg_text_adj">734 </span></button>

             	 			</div>
             	 			<div class="col-xs-6">
             	 				<div class="row">
             	 					<div class="col-xs-12 drv_left_column_adj">
             	 						<div class="col-xs-6">
             	 							<div>
				             	 				<h6 class="drv_req_data_adj" >Requested Date:</h6>
				             	 				<p>2016-01-10 / 00:43:30</p>
			             	 				</div>
			             	 				<div>		
												<h6 class="drv_req_data_adj">Scan Duration:</h6>
				             	 				<p>00:00:57</p>
			             	 				</div>
             	 						</div>
             	 						<div class="col-xs-6">
			             	 				<h6>Requested Date:</h6>
			             	 				<select class="form-control drv_req_bor_adj" id="sel1">
										    <option>2016-01-10 / 00:43:30</option>
										    <option>2</option>
										    <option>3</option>
										    <option>4</option>
										  </select>
             	 						</div>
             	 					</div>	

             	 				</div>	
             	 			</div>
             	 		</div>
             	 		<div class="row drv_pad_botm_adj">
             	 			<div class="col-xs-6">
             	 				<div class="col-xs-12">
             	 					<div class="drv_empty_right_div"></div>
             	 					<div class="drv_empty_right_div"></div>
             	 				</div>
             	 			</div>
             	 			<div class="col-xs-6">
             	 					<div class="drv_empty_left_div"></div>
             	 					<div class="drv_empty_left_div"></div>
             	 				
             	 			</div>
             	 		</div>
             	 	</div>






             	 </div>
			    <div id="home" class="tab-pane fade in active">
			       <div class="col-xs-12 drv_main_pad_adj">
                     <div class="col-xs-6">
                     	<form>
						  <div class="input-group">
						    <input type="text" class="form-control searchbar_bg_clr drv_search_bar_height"  placeholder="Search your vulnerablitities">
						    <div class="input-group-btn ">
						      <button class="btn btn-default drv_search_bar_height searchbar_bg_clr" type="submit">
						        <i class="glyphicon glyphicon-search"></i>
						      </button>
						    </div>
						  </div>
						</form>
                     </div>
                     <div class="col-xs-2">
                     	<div class="form-group drv_input_drop_adj">
						  <select class="form-control drv_search_bar_height searchbar_bg_clr" id="sel1">
						    <option>With Selected...</option>
						    <option>2</option>
						    <option>3</option>
						    <option>4</option>
						  </select>
						</div>
                     </div>
                     <div class="col-xs-2">
                     	<div class="form-group drv_input_drop_adj">
						  <select class="form-control drv_search_bar_height searchbar_bg_clr" id="sel1">
						    <option>Filter tags</option>
						    <option>2</option>
						    <option>3</option>
						    <option>4</option>
						  </select>
						</div>
                     </div>
                     <div class="col-xs-2 drv_col_2_adj">
                     	<p class="drv_p_adj">VIEW<span class="drv_sort_img_adj"><img class="drv_adobe_adj" src="./assets/images/5.png"></span><span><img class="drv_adobe_adj" src="./assets/images/3.png"></span> </p>
                     </div>
                 </div>
                 <div class="col-xs-12">
                 	<div class="col-xs-6">
                 		<div class="col-xs-1">
                 		<div class="checkbox">
						  <label><input type="checkbox" value=""></label>
						</div>
						</div>
						<div class="col-xs-11 drv_pad_adj"><a routerLink="/dashboard/domaindetail">
							<p>ProFTPD Multiple Remote Vulnerabilities</p>
							<h6 class="drv_h6_adj">Ip: 176.28.50.165; Port: 106/tcp; Source: Openvas Scanner.</h6></a>
						</div>
                 	</div>
                 	<div class="col-xs-6 pull-right">
                 		<h6 class="drv_h6_float_adj">
                 		<div class="col-xs-8 drv_btn_txt_adj" style="">Vulnerability</div>
                 		<div class="col-xs-4"><button class="drv_btn_red_adj pull-right"><span>CRITICAL</span><span style="" class="fa drv_arrow_icon_adj"><span style="" class="fa drv_arrow_icon_adj"><img src="./assets/images/discover-1.png" style="width:20px;"></span></span></button></div>
                 		</h6>
                 	</div>
                 </div>

                  <div class="col-xs-12">
                 	<div class="col-xs-6">
                 		<div class="col-xs-1">
                 		<div class="checkbox">
						  <label><input type="checkbox" value=""></label>
						</div>
						</div>
						<div class="col-xs-11 drv_pad_adj">
							<p>ProFTPD Multiple Remote Vulnerabilities</p>
							<h6 class="drv_h6_adj">Ip: 176.28.50.165; Port: 106/tcp; Source: Openvas Scanner.</h6>
						</div>
                 	</div>
                 	<div class="col-xs-6 pull-right">
                 		<h6 class="drv_h6_float_adj">
                 		<div class="col-xs-8 drv_btn_txt_adj" style="">Vulnerability</div>
                 		<div class="col-xs-4"><button class="drv_btn_red_adj pull-right"><span>CRITICAL</span><span style="" class="fa drv_arrow_icon_adj"><span style="" class="fa drv_arrow_icon_adj"><img src="./assets/images/discover-1.png" style="width:20px;"></span></span></button></div>
                 		</h6>
                 	</div>
                 </div>

                  <div class="col-xs-12" class="change_color" style="background: #E9EFFD;">
                 	<div class="col-xs-6">
                 		<div class="col-xs-1">
                 		<div class="checkbox drv_checked_checkbox">
						  <label><input type="checkbox" value="checked" checked></label>
						</div>
						</div>
						<div class="col-xs-11 drv_pad_adj">
							<p>ProFTPD Multiple Remote Vulnerabilities</p>
							<h6 class="drv_h6_adj">Ip: 176.28.50.165; Port: 106/tcp; Source: Openvas Scanner.</h6>
						</div>
                 	</div>
                 	<div class="col-xs-6 pull-right">
                 		<h6 class="drv_h6_float_adj">
                 		<div class="col-xs-8 drv_btn_txt2_adj" style="">Vulnerability</div>
                 		<div class="col-xs-4"><button class="drv_btn_yellow_adj pull-right"><span>MEDIUM</span><span style="" class="fa drv_arrow_icon_adj"><img src="./assets/images/discover-2.png" style=" width:20px;"></span></button></div>
                 		</h6>
                 	</div>
                 </div>

                  <div class="col-xs-12">
                 	<div class="col-xs-6">
                 		<div class="col-xs-1">
                 		<div class="checkbox">
						  <label><input type="checkbox" value=""></label>
						</div>
						</div>
						<div class="col-xs-11 drv_pad_adj">
							<p>ProFTPD Multiple Remote Vulnerabilities</p>
							<h6 class="drv_h6_adj">Ip: 176.28.50.165; Port: 106/tcp; Source: Openvas Scanner.</h6>
						</div>
                 	</div>
                 	<div class="col-xs-6 pull-right">
                 		<h6 class="drv_h6_float_adj">
                 		<div class="col-xs-8 drv_btn_txt2_adj" style="">Vulnerability</div>
                 		<div class="col-xs-4"><button class="drv_btn_yellow_adj pull-right"><span>MEDIUM</span><span style="" class="fa drv_arrow_icon_adj"><img src="./assets/images/discover-2.png" style=" width:20px;"></span></button></div>
                 		</h6>
                 	</div>
                 </div>

                    <div class="col-xs-12">
                 	<div class="col-xs-6">
                 		<div class="col-xs-1">
                 		<div class="checkbox">
						  <label><input type="checkbox" value=""></label>
						</div>
						</div>
						<div class="col-xs-11 drv_pad_adj">
							<p>ProFTPD Multiple Remote Vulnerabilities</p>
							<h6 class="drv_h6_adj">Ip: 176.28.50.165; Port: 106/tcp; Source: Openvas Scanner.</h6>
						</div>
                 	</div>
                 	<div class="col-xs-6 pull-right">
                 		<h6 class="drv_h6_float_adj">
                 		<div class="col-xs-8 drv_btn_txt3_adj" style="">Vulnerability</div>
                 		<div class="col-xs-4"><button class="drv_btn_blue_adj pull-right"><span>LOW</span><span style="" class="fa drv_arrow_icon_adj"> <img src="./assets/images/discover-3.png" style="width:20px;"></span></button></div>
                 		</h6>
                 	</div>
                 </div>
                 <div class="col-xs-12">
                 	<div class="col-xs-6">
                 		<div class="col-xs-1">
                 		<div class="checkbox">
						  <label><input type="checkbox" value=""></label>
						</div>
						</div>
						<div class="col-xs-11 drv_pad_adj">
							<p>ProFTPD Multiple Remote Vulnerabilities</p>
							<h6 class="drv_h6_adj">Ip: 176.28.50.165; Port: 106/tcp; Source: Openvas Scanner.</h6>
						</div>
                 	</div>
                 	<div class="col-xs-6 pull-right">
                 		<h6 class="drv_h6_float_adj">
                 		<div class="col-xs-8 drv_btn_txt3_adj" style="">Vulnerability</div>
                 		<div class="col-xs-4"><button class="drv_btn_blue_adj pull-right"><span>LOW</span><span style="" class="fa drv_arrow_icon_adj"><img src="./assets/images/discover-3.png" style="width:20px;"></span></button></div>
                 		</h6>
                 	</div>
                 </div>
 					


 				<div class="col-xs-12">
                 	<div class="col-xs-6">
                 		<div class="col-xs-1">
                 		<div class="checkbox">
						  <label><input type="checkbox" value=""></label>
						</div>
						</div>
						<div class="col-xs-11 drv_pad_adj">
							<p>ProFTPD Multiple Remote Vulnerabilities</p>
							<h6 class="drv_h6_adj">Ip: 176.28.50.165; Port: 106/tcp; Source: Openvas Scanner.</h6>
						</div>
                 	</div>
                 	<div class="col-xs-6 pull-right">
                 		<h6 class="drv_h6_float_adj">
                 		<div class="col-xs-8 drv_btn_txt4_adj" style="">Vulnerability</div>
                 		<div class="col-xs-4"><button class="drv_btn_dblue_adj pull-right"><span>INFORMATION</span><span style="" class="fa drv_arrow_icon_adj"><img src="./assets/images/discover-4.png" style="width:20px;"></span></button></div>
                 		</h6>
                 	</div>
                 </div>
			   <div class="col-xs-12">
                 	<div class="col-xs-6">
                 		<div class="col-xs-1">
                 		<div class="checkbox">
						  <label><input type="checkbox" value=""></label>
						</div>
						</div>
						<div class="col-xs-11 drv_pad_adj">
							<p>ProFTPD Multiple Remote Vulnerabilities</p>
							<h6 class="drv_h6_adj">Ip: 176.28.50.165; Port: 106/tcp; Source: Openvas Scanner.</h6>
						</div>
                 	</div>
                 	<div class="col-xs-6 pull-right">
                 		<h6 class="drv_h6_float_adj">
                 		<div class="col-xs-8 drv_btn_txt4_adj" style="">Vulnerability</div>
                 		<div class="col-xs-4"><button class="drv_btn_dblue_adj pull-right"><span>INFORMATION</span><span style="" class="fa drv_arrow_icon_adj"><img src="./assets/images/discover-4.png" style="width:20px;"></span></button></div>
                 		</h6>
                 	</div>
                 </div>
			                  
			   </div> 
             </div>
           </div>
       </div>
   
   
   <br><br>
   



   