




/*Domain report view*/

.drv_icon_adj{
    color:white;
     padding: 35px;
}
.drv_right_txt{
    padding-top: 28px;
    padding-right: 93px;
}
.drv_tabs_pad_adj{
    padding-left: 30px;
    margin-bottom: -10px;
    font-size: 11px;
    color: black;
    text-decoration:none; 
}
.drv_tabs_pad_adj:hover{
    text-decoration:none; 
}
.drv_link_dec_adj:hover{
    text-decoration: none;
}
.drv_tabs_ic_adj{
    margin-right: 5px;
    width: 20px;
}
.drv_tabs_pdfic_adj{
    margin-left: 30px;
}
.drv_adobe_adj{
    width:18px;
}
.drv_font_adj{
    font-size: 17px !important;
}
.drv_main_pad_adj{
    padding: 0px !important;
}
.drv_search_bar_height{
    height: 50px;
    border-radius:0px;
}
.drv_sort_img_adj{
    padding:0px 22px;
}
.drv_col_2_adj{
        border-bottom: 1px solid #ccc;
    margin-left: -15px;
    background: #DEE6FC;
}
.drv_p_adj{
       padding-top: 15px;
    padding-bottom: 4px;
}
.drv_input_drop_adj{
    margin-left: -30px;
    border-radius: 0px;
}
.drv_view_btn_adj{
        padding-top: 15px;
}
.drv_h6_adj{
    margin-top: -10px;
}
.drv_pad_adj{
    margin-left: -20px;
}
.drv_btn_red_adj{
    background-color: #F9583B;
    border: none;
    color: white;
    padding: 6px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
}
.drv_btn_txt_adj{
    padding-top: 7px;
    color:  #F9583B;
}
.drv_arrow_icon_adj{
    font-size:15px;
    padding-left:10px;
}
.drv_h6_float_adj{
    float: right;
}
.drv_btn_yellow_adj{
    background-color: #F2C306;
    border: none;
    color: white;
    padding: 6px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
}
.drv_btn_txt2_adj{
    padding-top: 7px;
    color:  #F2C306;
}

.drv_btn_blue_adj{
    background-color: #A6BEFF;
    border: none;
    color: white;
    padding: 6px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
}
.drv_btn_txt3_adj{
    padding-top: 7px;
    color:  #A6BEFF;
}

.drv_btn_dblue_adj{
    background-color: #01C4C4;
    border: none;
    color: white;
    padding: 6px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
}
.drv_btn_txt4_adj{
    padding-top: 7px;
    color:  #01C4C4;
}

.searchbar_bg_clr{
    background: #DEE6FC;
    border-left: none;
}
.drv_right_column_adj{
    padding-top: 20px;
    padding-left: 60px;
    padding-bottom: 20px;
}
.drv_left_column_adj{
        padding-top: 20px;
    padding-left: 60px;
    padding-right: 35px;
    padding-bottom: 20px;
}
.drv_marg_adj{
    margin-right: 15px;
}
.drv_btn_marg_text_adj{
    margin-left: 10px;
}
.drv_req_data_adj{
   margin-bottom: -4px 
}
.drv_req_bor_adj{
    border: 1px solid #00BCD4;
    color: #00BCD4;
}
.drv_empty_right_div{
       padding-top: 100px;
    padding-bottom: 100px;
    background: #F7F7F7;
    margin-top: 20px;
        margin-top: 20px;
    margin-left: 30px;
    margin-right: -6px;
}
.drv_empty_left_div{
    padding-top: 100px;
    padding-bottom: 100px;
    /* padding-right: 82px; */
    background: #F7F7F7;
    margin-top: 20px;
    margin-right: 25px;
    margin-left: 59px;
}
.drv_pad_botm_adj{
    padding-bottom: 20px;
}
.drv_checked_checkbox{

}
.drv_checked_checkbox input:checked  +.change_color{
    display: none;  
}

body{
    background: #1E2C50;
}
.centr_div{
    width: 60%;
    margin: 0 auto;
    background: url('./app/assets/images/pc.png') no-repeat;
    background-size: 100% 100%;
    height: 600px;
    position: relative;
}
.cntr_btn_div{
   text-align: center;
   padding-top: 240px;
}
body{
    background: #1E2C50;
}
.top_left_txt{
    color: #fff;
    font-weight: bold;
    padding: 10px;   
}
.top_right_btn{
    position: relative;
}
.top_right_btn button{
    position: absolute;
    right: 10px;top: 20px;
}
.myNav{
    background:#080808;
}
.whiteDiv{
    overflow: hidden;
    background: #fff;
/*    padding: 20px;*/
    border-radius: 10px;
}
.tbl_head_th{
    background: #DEE6FC;
    border: none;
}
.tbl_head_th th:first-child{
    text-align: left;
}
.tbl_head_th th{
/*    text-align: center;*/
    padding: 20px !important;
    border: none !important;
    border-right: 1px solid #fff !important;
}
.tbl_head_th th:last-child{
    border: none !important;
}
.tbl_bdy tr td:first-child{
    text-align: left;
}
.tbl_bdy tr td{
/*    text-align: center;*/

        padding: 10px 20px !important;
}
.small_p{
    font-size: 13px;
    padding-top:5px;
    color: #01C497;
    
}
.scan_time_txt{
        color: #01C497;
    font-weight: bold;
}
.risk_txt{
    color: #F86059 !important;
}
.add_domain{
    padding: 110px 0;
}
.add_domain_left{
        width: 80%;
    margin: 0 auto;
}
.navigation{
    background: #080808;
}
.add_domain_nav{
    list-style-type: none;
    padding: 10px;
}
.add_domain_nav li{
    display: inline-block;
    color: #fff;
    padding-top: 10px;
}
.frm_cntrl{
    border-radius: 0;
    font-size: 18px;
    color:  #799AF2;
       height: 45px;
    border: 1px solid #799AF2;
}
.risk_nav_txt{
    color: #fff;
}
.right_txt{
    text-align: right;
}
.new_scan{
    padding: 20px;
    border-right: 1px solid #799AF2;
    color: #799AF2;
    
}
.new_scan h4{
    font-weight: bold;font-size: 20px;
}
.s_scan_tx{
      padding: 20px;
    text-align: right; color: #799AF2;
}
.s_scan_tx h4{
     font-weight: bold;font-size: 20px;
}

.f_white_divs{
    padding: 5px !important;
}
.f_white_div
{
    padding: 10px !important;
}
.txt_clr{
     color: #799AF2;
}
.tbl_header_div{
    border-bottom: 2px solid grey;
}
.heading-pill{
    padding: 12px;
}
.pills_wrap{
    border-bottom: 2px solid grey;
}
.left_wrap{
    padding: 40px;
}
.left_wrap_2,.right_wrap_2{
    padding: 30px;
}
.right_wrap{
     padding: 40px;
}
.back{
    color: #fff;
    position: relative;
}
.bk_arrow{
    position: absolute;
    left: -50px;
    font-size: 20px;
}
.back h4 {
    padding: 6px;
}
.tbl_div{
        border-radius: 20px;
    overflow: hidden;
    border: 1px solid #eee;
    margin-top: 25px;
}
.add_subdomain{
    padding: 90px 10px;
}
.sub_d_list{
    list-style-type: none;
}
.right_img img{
    width: 100%;
}


.custm_btn{
  background: #799AF2;
  color: #fff;
}
.domain_summary_tbl th{
    color: #4D4D4D;
   
}
.domain_summary_tbl {
    margin-bottom: 0px !important;
}
.icon_img{
    max-width: 18px;
}
.was_txt{
    font-size: 12px;
    color: #F2C306;
    padding-top: 3px;
}
.nxt_scan_txt{
    padding-top: 20px !important;
}
.were_txt{
    color: #17C99F;
}
.yellow_txt{
    color: #F2C306;
}
.tbl_footet{
    padding: 20px;
    background: #E9EFFD;
}
.bold_txt{
    font-weight: bold;
}
.vrfytxt{
    padding: 10px;
}